<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Confirm Email Address</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet">
</head>

<body class="" style="font-family: Mulish, sans-serif;">
   <section class="" style="border-bottom: 1px solid #5EAA6A33; padding: 30px;">
    <img src="https://res.cloudinary.com/dugcx2urz/image/upload/headerLogo_awcsel.svg" alt="Playlistswap Logo" width="200px">
   </section>

   <div style="padding: 20px 30px;">
      <h3 style="font-size: 24px; font-weight: 700; color: #121A26;">Welcome to PlaylistSwap!</h3>
      <section style="color: #384860; font-size: 16px; font-weight: 400;">
         <p>
          Welcome {{username}},
         </p>
         <p>
            Thank you for confirming your email address and joining Playlist Swap!
         </p>
         <p>
            We’re excited to have you with us. Get started by exploring our platform.
         </p>
         <p>
            We are committed to providing you with the best experience possible, If you have any questions or need
            further assistance.

         </p>
         <p>
            Thanks, <br>
            PlaylistSwap Team
         </p>
      </section>

      <section style="display: flex; flex-direction: row; gap: 30px; justify-content: center; margin: 30px 0;">
         <img src="../../assets/v2/icons/x.svg" alt="">
         <img src="../../assets/v2/icons/instagram.svg" alt="">
         <img src="../../assets/v2/icons/github.svg" alt="">
      </section>

      <section style="font-weight: 400; font-size: 16px; color: #202B3C;">
         <p>
            You are receiving this email because you signed up for the PlaylistSwap. If you believe you received this
            email in error, please ignore it.
         </p>
         <p>Copyright © 2024 PlaylistSwap. All rights reserved.</p>
      </section>
   </div>

</body>

</html>